<% if controller_name == 'projects' && %w(settings new).include?(action_name) %>
  <% if Setting.plugin_redmine_project_form_extended.try(:[], 'public_cofirmation') == 'confirm' %>
    <p id='hidden_confirm_msg' style="display: none;"><%= t('confirm_message') %></p>
    <% content_for :header_tags do %>
      <%= javascript_include_tag 'confirm_public', :plugin => 'redmine_project_form_extended' %>
    <% end %>
  <% elsif Setting.plugin_redmine_project_form_extended.try(:[], 'public_cofirmation') == 'disable' %>
    <% content_for :header_tags do %>
      <%= javascript_include_tag 'disable_public', :plugin => 'redmine_project_form_extended' %>
    <% end %>
  <% end %>
<% end %>
